@charset "utf-8";

/*===== ページ全般 =====*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 95%;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    color: #333333;
}
body a {
    text-decoration: none;
}
.bg_pattern {
    background:
    linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: #708090;
    background-size: 64px 128px;
}
div #pagebody {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px gray inset;
}
img{
    border: 0;
}

/*===== Header =====*/
div #header {
    height: 160px;
}
div #header h1 {
    padding: 10px 0px 5px 0px;    
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}
div #header h1 a {
    text-decoration: none;
}

/*===== Main Menu =====*/
#menu{
    width: 780px;
    height: 70px;
    margin: 0px auto;
}
#menu li {
    list-style-type: none;
    display: inline;
    float: left;
}
a.botton {
    display: block;
	width: 160px;
	padding: 15px;
    font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: deepskyblue;
	border: 2px solid deepskyblue;
	border-radius: 3px;
    transition: .3s;
}
a.botton:hover{
    background: deepskyblue;
	color: #fff;
}

.h2title {
    position:relative;
    margin: 10px auto;
	padding: 5px 10px;
	border: 2px solid #4169e1;
}
.h2title:before {
	content: "";
	position: absolute;
	top: 5px;
	left: -5px;
	width: 10px;
	height: calc(100% - 10px);
	background-color: #1e90ff;
	border-radius: 4px;
}

/*===== Left Contents =====*/
div #left {
    width: 75%;
    float: left;
    padding: 5px 20px 5px 0px;
}

/*===== Update =====*/
#update iframe  {
    border: 2px #cccccc groove;
}
#update li  {
    border-bottom: 1px dotted #000000;
    list-style: none;
    padding: 10px;
}
#update span {
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    margin: 5px 20px;
    padding: 5px;
}
.all {
    background-color: #b0c4de;
}
.blog {
    background-color: #4169e1;
}
.projects {
    background-color: #7cfc00;
}

#update time {
    display: inline-block;
    font-weight: bold;
    margin-right: 40px;
}
#update p, #update p a {
    color: #000000;
    display: inline-block;
    text-decoration: underline;
}

/*===== Projects =====*/
h2.projectTitle {
    width: 97%;
    color: #505050;
    padding: 0.5em;
    margin: 5px;
    display: inline-block;
    line-height: 1.3;
    background: #dbebf8;
    vertical-align: middle;
    border-radius: 25px 0px 0px 25px;
}
  
h2.projectTitle:before {
    content: '●';
    color: white;
    margin-right: 8px;
}

/*===== Blog =====*/
.blogTitle {
	position: relative;
	padding: 0.3em 0em;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #00ced1;
}
.blogTitle span.main {
	position: relative;
	padding: 0.5em 0.3em 0.5em 0.5em;
	color: #f8f8f8;
	background-color: #00ced1;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.blogTitle span.main::after {
	position: absolute;
	top: 0;
	right: -0.45em;
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	border-width: 0.5em 0.5em 0 0;
	border-style: solid;
	border-color: #00ced1 transparent transparent transparent;
}
.blogTitle span.sub {
	font-size: 0.7em;
	position: absolute;
	right: 0;
	display: inline-block;
	color: #424242;
}
@media screen and (max-width: 480px) {
	.blogTitle span.main {
		font-size: 0.8em;
		padding: 0.3em 0.3em 0.5em 0.5em;
	}
	blogTitle span.sub{
		font-size: 0.5em;
	}
}

/*===== LInks =====*/
ul.link_list {
    list-style: none;
}
ul.link_list li {
    position: relative;
    padding: 7px 5px 7px 10px;
    margin-bottom:5px;
    border-left: solid 5px #5c9ee7;
    background: #f1f8ff;
    color: #5c9ee7;
    font-weight: bold;
    -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
    -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
    box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
}
ul.link_list li a {
    color: #5c9ee7;
    text-decoration: none;
}

/*===== Right Contents =====*/
div #right {
    width: 23%;
    float: left;
    padding: 5px 0px 10px 0px ;
}

/*===== Profile =====*/
.profile{
    width: 100%;
    max-width: 400px;
    position: relative;
    background: #ffffff; /*背景の色*/
    box-shadow: 0px 1px 3px rgba(0,0,0,.18);
    overflow: hidden;
}
.profile:before{
   width: 120%;
   height: 100px;
   content:"";
   transform:skew(15deg,10deg);
   background: #70b7ff; /*斜め背景の色*/
   position:  absolute;
   top:-15%;
   left:-10%;
   z-index: 0;
}
.profile_inner{
   position: relative;
} 
.profile_thumb{
      overflow: hidden;
      width: 110px;
      height: 110px;
      border: #ffffff 3px solid;
      border-radius: 55px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      background: #ffffff;
}
.profile_thumb img{
    display: block;
      width: 100%;
      height: auto;
}
.profile_content{
    padding: 15px;
}
.profile_content span{
    display: block;
}
.profile_name{
    margin-bottom: 3px;
    font-weight: bold;
    text-align: center;
}
.profile_job{
    margin-bottom: 10px;
    color: #cccccc;
    font-size: 10px;
    text-align: center;
}
span.profile_intro{
    font-size: 12px;
    margin: 5px;
}

/*===== Ranking =====*/
figure.caption {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-width: 220px;
	max-width: 300px;
	max-height: 220px;
	margin: 10px 1%;
	color: #ffffff;
}
figure.caption * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
figure.caption img {
	width: 100%;
	height: 100%;
}
figure.caption figcaption {
	position: absolute;
	z-index: 1;
	top: 50%;
	padding: 3em 3em;
	transition: all 0.3s ease-out;
	transition-delay: 0.1s;
	opacity: 0;
}  
figure.caption:after {
	position: absolute;
	top: 7%;
	right: 10%;
	bottom: 7%;
	left: 10%;
	display: inline-block;
	content: '';
	transition: all 0.3s ease-out;
	opacity: 0;
	background: rgba(27, 37, 56, 0.8);
}
figure.caption:hover:after {
	opacity: 0.9;
}
figure.caption:hover figcaption {
	transform: translateY(-50%);
	opacity: 1;
}
#ranking li {
  list-style-type: none;
}
li a.rankLink {
    text-decoration: none;
    color: #7fffd4;
}

/*===== blog_index =====*/
ul.index {
	padding: 0.5em;
	list-style-type: none;
}
ul.index li {
	position: relative;
	padding: 0.5em 1em 0.5em 2.3em;
	margin-bottom:5px;
	border-bottom: 1px solid rgba(25,118,210,1);
}
ul.index li:after,
ul.index li:before{
	content:'';
	position: absolute;
	border-radius: 50%;
}
ul.index li:before {
	top: 50%;
	left: 0.2em;
	width: 17px;
	height: 17px;
	background: rgba(25,118,210, 1);
	transform: translateY(-50%);
}
ul.index li:after {
	top: 1.1em;
	left: 0.7em;
	width: 14px;
	height: 14px;
	background: rgba(25,118,210, 0.5);
}
ul.index li a {
    color: #000000;
}

/*===== Footer =====*/
div #footer {
    clear: both;
    height: 50px;
    padding: 5px 0px 0px 0px;
    font-size: x-small;
    text-align: center;
}
